__pycache__/
*.pyc
*.class
*.zip
rom_framework_dump/
build/
.gradle/
.idea/
volte_fixer_mobile/.gradle/
volte_fixer_mobile/.idea/
dist/
releases/
build_tmp/
*.spec
*.bin
*.img
scratch/*.bin
scratch/*.img
scratch/dir_*
scratch/extracted_media/
scratch/test_unpack_clean/
.agents/
extracted_vendor_volte/*.img
extracted_vendor_volte/*.mp4
extracted_vendor_volte/unpacked_vendor_files/
